<div class="card" style="width: 18rem;">
        <img [src]="data.imageSrc" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> {{ data.title}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" (click)="updateText(data.btnText)" class="btn btn-primary">{{data.btnText}}</a>
          <span class=" badge right text-right">{{data.star}}</span>
        </div>

        <img class="abc" src="{{'data:image/jpg;base64,' + imagePath}}" />
    </div>